{% extends "base/base.html" %}
{% load static %}

{% block title %}Admissions | {{ page_title }}{% endblock %}

{% block content %}
<h2 class="main-heading mb-3 pt-3">Contact Us</h2>

<h3>General Contact Information</h3>
<p>
<strong>Admission Office</strong><br>
Room 3118<br>
NextGen University, St. John's, Canada
</p>

<p>
<strong>Phone:</strong> xxx xxx xxxx<br>
<strong>Fax:</strong> xxx xxx xxxx<br>
<strong>Email:</strong> <a href="mailto:example@mail.com">example@mail.com</a>
</p>
<!-- Floating Chat Button -->
      {% include "base/chatbox.html" %}
{% endblock %}