{% extends "base/base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
      <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                  <div class="card shadow-lg border-0" style="border-radius: 1rem;">
                        <div class="card-body p-4 p-md-1">      
                              <h1 class="h2 text-center mb-2">Contact Us</h1>
                              
                              <p>
                              <strong>Admission Office</strong><br>
                              Room 3118<br>
                              NextGen University, St. John's, Canada
                              </p>

                              <p>
                              <strong>Phone:</strong> xxx xxx xxxx<br>
                              <strong>Fax:</strong> xxx xxx xxxx<br>
                              <strong>Email:</strong> <a href="mailto:example@mail.com">example@mail.com</a>
                              </p>
                        </div>
                  </div>
            </div>
      </div>
</div>

<!-- Floating Chat Button -->
      {% include "base/chatbox.html" %}
{% endblock %}